.nav-pills {
    gap: 0.7rem;

    .nav-item {
        .nav-link.active {
            color: var(--color-light);
            background-color: var(--color-primary);
        }

        .nav-link {
            font-size: 14px;
            color: var(--color-dark);
            background-color: var(--color-medium);
        }
    }
}