*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--font-serif);
    font-size: 16px;
    background: var(--color-light);
    color: var(--color-dark);
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

a, p, span, div, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
}

a {
    color: var(--color-dark);
}

// Utilities
.display-grid-content-end {
    display: grid;
    place-content: end;
    place-self: start;
}

.display-grid-content-center {
    display: grid;
    place-items: center;
}

// Container 
.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}
