.post-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 1.4;
}

.post-thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}

.post-categories {
    list-style: none;
    padding: 0;
    margin-top: 1rem;

    li {
        margin-bottom: 0.6rem;
        
        .post-category-item {
            font-size: 16px;
            text-decoration: none;
        }

    }
}