.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-light);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    z-index: 1030;

    .navbar-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .navbar-brand {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: bold;
            text-transform: lowercase;
        }

        .navbar-toggler {
            border: none;
            padding: 0;

            &:focus {
                box-shadow: none;
            }
        }
    }

    .navbar-collapse-flex {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;

        @media (max-width: 991px) and (min-width: 320px) {
            justify-content: flex-start;
        }


        .navbar-nav {
            align-items: center;
            gap: 1rem;

            @media (max-width: 991px) and (min-width: 320px) {
                align-items: flex-start;
                padding-left: 1rem;
                padding-top: 1rem;
                grid-gap: 0.2rem;
            }
        }
    }
}